@page
@model Intranet.Pages.QuoteSystem.CadBlocks.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BlockModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlockModel.BlockName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlockModel.BlockName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlockModel.PartNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlockModel.PartNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlockModel.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlockModel.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlockModel.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlockModel.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlockModel.Qflag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlockModel.Qflag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlockModel.Class)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlockModel.Class)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlockModel.SpecNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlockModel.SpecNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlockModel.InsertionPoint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlockModel.InsertionPoint)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlockModel.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlockModel.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BlockModel.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
